body {
        background-color: #000;
        background-image: url('../images/fondo.jpg');
        background-size: cover;
    }
    .sub-cover {
        background-color: rgba(0,0,0,0.5);
        border-bottom: 3px solid #fff;
        box-shadow: 0px 0px 15px #c2c2c2;
    }
    .sub-cover p {
        font-size: 15px;
        font-weight: bold;
        color: #e2e2e2;
        margin-top: 20px;
    }
    .panel {
        margin-top: 10px;
        box-shadow: 2px 2px 2px gray;
    }
    .menu {
        margin-top: 30px;
        position: fixed;
        z-index: 100;
    }
    .menu-xs a{
        font-family: 'Titillium Web', Sans;
        font-size: 1.6em;
        opacity: .7;
    }
    .menu-xs a:hover {
        border-bottom: 2px solid #a9a9a9;
        opacity: 1;
    }
    .menu i {
        font-size: 30px;
        padding: 10px 0;
    }
    .cover {
        background-color: rgba(0,0,0,0.7);
        width:100%;
    }
    .img-cover {
        width: 250px;
        height: 250px;
        border: 10px #fff solid;
        border-radius: 50%;
        margin-top: 120px;
    }
    .social img {
        width: 50px;
        height: 50px;
        padding: 10px;
        opacity: .7;
    }
    .social img:hover {
        opacity: 1;
    }
    ul li {
        padding: 5px 0;
    }
    ul li a {
        font-family: 'Titillium Web', Sans;
        font-size: 1.6em;
        color: #fff;
    }
    ul li a:hover {
        text-decoration: none;
        color: #a9a9a9;
    }
    .title {
        font-family: 'Ubuntu', Sans;
    }
    .sub-title {
        font-family: 'Slabo 27px', serif;
    }
    h1 {
        font-family: 'Ubuntu', Sans;
        color: #fff;
        font-size: 2em;
    }
    h2 {
        font-family: 'Titillium Web', sans-serif;
        font-size: 1.8em;
        color: #13DAFA;
    }
    h3 {
        font-family: 'Slabo 27px', serif;
        font-size: 1.6em;
    }
    h4 {
        font-family: 'Titillium Web', Helvetica, Sans;
        font-size: 1.4em;
        color: gray;
    }
    p {
        font-family: 'PT Sans', sans-serif;
        font-size: 1.2em;
    }
    .active {
        color: #fff;
    }
    .copy {
        color: #fff;
        font-family: Serif !important;
        position: bottom;
        text-align: center;
        bottom: 0;
        margin-top: 50px;
        opacity: .7;
    }
    .copy:hover {
        opacity: 1;
    }
    .text-gray {
        color: #c3c3c3;
    }
    .text-white {
        color: #c0c0c0;
    }
    .text-important {
        font-family: 'Ubuntu', Sans;
        color: #13DAFA;
        font-size: 60px;
        text-shadow: 3px 2px #555;
    }
    .modal img {
        width: 20px;
    }
    .opaco {
        background-color: rgba(0,0,0,0.7);
        color: #ffffff;
    }
    .table i {
        font-size: 2em;
        color: green;
    }
    .stacks {
        padding-top: 2.5em;
    }
    .stacks h1 {
        font-size: 3em;
    }
    .stacks img {
        width: 150px;
        margin: 4em 1em;
    }