body {
        background-color: #000;
        background-image: url('../images/fondo5.jpg');
        background-size: cover;
    }
    .menu {
        margin-top: 50px;
        position: fixed;
    }
    .menu-xs a{
        font-size: 18px;
        opacity: .7;
    }
    .menu-xs a:hover {
        opacity: 1;
        border-bottom: 2px solid #fff;
    }
    .menu i {
        font-size: 30px;
        padding: 10px 0;
    }
    .cover {
        background-color: rgba(0,0,0,0.7);
        width:100%;
    }
    .img-cover {
        width: 250px;
        height: 250px;
        border: 10px #fff solid;
        border-radius: 50%;
        margin-top: 150px;
    }
    .social img {
        width: 50px;
        height: 50px;
        padding: 10px;
        opacity: .7;
    }
    .social img:hover {
        opacity: 1;
    }
    ul li {
        padding: 5px 0;
    }
    ul li a {
        font-size: 20px;
        font-family: Sans;
        color: #fff;
    }
    ul li a:hover {
        text-decoration: none;
        color: #fff;
    }
    h1 {
        font-family: Sans;
        color: #fff;
        font-size: 30px;
    }
    .active {
        color: #fff;
    }
    .copy {
        color: #fff;
        font-family: serif;
        position: fixed;
        text-align: center;
        bottom: 0;
        margin-top: 50px;
        opacity: .7;
    }
    .copy:hover {
        opacity: 1;
    }